@import "../../../variables.scss";

.subject-area-estetisk-verksamhet {
  color: $arts-color;
}

.subject-area-kommunikation {
  color: $communication-color;
}

.subject-area-motorik {
  color: $motor-color;
}

.subject-area-vardagsaktiviteter {
  color: $everyday-color;
}

.subject-area-verklighetsuppfattning {
  color: $reality-color;
}

span {
  text-wrap: balance;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  font-weight: 600;

}
