@import "../../../variables.scss";

.subject-area-estetisk-verksamhet {
  background-color: $arts-color;
}

.subject-area-kommunikation {
  background-color: $communication-color;
}

.subject-area-motorik {
  background-color: $motor-color;
}

.subject-area-vardagsaktiviteter {
  background-color: $everyday-color;
}

.subject-area-verklighetsuppfattning {
  background-color: $reality-color;
}
