<!-- <div class="rounded-full border border-1 border-black w-6 h-6 z-0 relative"></div> -->
<!-- <div class="star w-6 h-6 z-0 relative"></div> -->
 <!-- <div class="star text-2xl w-6 h-6 z-0 relative text-white ">☆</div>
  <img class="w-32" src="/assets/subject-area/estetisk-verksamhet/bildbegrepp/illustration/lim.svg"
     alt="Illustration av två typer av lim. Till vänster en flaska med grön pip och blå etikett med texten 'LIM'. Till höger ett rött limstift med svart kork och texten 'LIM' på etiketten"> --> 
<img src="/assets/layout/icons/star.svg" alt="" class="w-6">