
<div class="flex flex-col min-h-screen  bg-blue-200 m-0 p-0 justify-center">
<header class="flex justify-between mb-4 absolute top-0 z-10 w-full">
     <h1 class="font-bold text-2xl p-5">Lika = Lika: Lär dig tecken</h1>
     <div class="flex items-start ">
      <button 
        *ngIf="!isHomeVisible" 
        class="m-2 flex items-center justify-end rounded-md border-4 border-transparent hover:border-blue-500 " 
        [routerLink]="['/']">
        <img src="assets/layout/icons/home-icon.svg" alt="" class="w-10">
       
      </button>
      <app-game-settings
        *ngIf="!isHomeVisible"
        [gameSettings]="currentGameSettings"
        class="right-0"
      ></app-game-settings>
     </div>

</header>

<ng-container>
        <app-selected-game-link
          [isHomeVisible]="isHomeVisible"
          [selectedGameKeys]="selectedGameKeys"
          [selectedGameEnum]="selectedGameEnum"
          class="flex"
        ></app-selected-game-link>
  </ng-container>

<!-- This is where the selected component will be dynamically loaded -->
<router-outlet></router-outlet>
</div>
