
<div class="flex flex-col min-h-screen  bg-[#153658] m-0 p-0 justify-center font-custom">
<header class="absolute flex justify-between mb-4 top-0 z-10 w-full">

     <h1 class="font-bold text-xl lg:text-3xl md:text-2xl p-5 sm:text-2xl text-[#F1851C]">Lika = Lika: Lär dig tecken</h1>
     <div class="flex items-start ">
      <button 
        *ngIf="!isHomeVisible" 
        class="absolute right-16 m-2 flex items-center justify-end rounded-md border-4 border-transparent hover:border-blue-500 shrink-0 z-50" 
        [routerLink]="['/']"
        (click)="onHomeClick()"
        [tabindex]="(gameStarted$ | async) ? '3' : '0'"
      >
        <img src="assets/layout/icons/home-icon.svg" alt="" class="w-10 shrink-0">
       
      </button>
      <app-game-settings
        [tabindex]="(gameStarted$ | async) ? '3' : '1'"
        *ngIf="!isHomeVisible"
        [gameSettings]="currentGameSettings"
        class="right-0 sticky"
        
      ></app-game-settings>
     </div>

</header>

<ng-container>
        <app-selected-game-link
          [isHomeVisible]="isHomeVisible"
          [selectedGameKeys]="selectedGameKeys"
          [selectedGameEnum]="selectedGameEnum"
          class="flex"
        ></app-selected-game-link>
</ng-container>

<!-- <div class="mt-7"> -->
  <!-- This is where the selected component will be dynamically loaded -->
  <router-outlet ></router-outlet>
<!-- </div> -->

</div>
