<button #cardButton
        class="memory-card card-btn"
        [ngClass]="(isReadyToPlay$ | async) ? 'opacity-100' : 'opacity-0'"
        (click)="handleCardSelect()"
        [class.selected]="(visualState$ | async) === 'selected'"
        [class.selected-open]="(visualState$ | async) === 'selected' && (isOpenCardsPlayMode$ | async)"
        [class.matched]="(visualState$ | async) === 'matched'"
        [class.animate-hide]="(visualState$ | async) === 'matched'"
        [class.mismatched]="(visualState$ | async) === 'mismatched'"
        [class.disappear]="shouldDisappear">
  <div class="card-container w-full h-full">
    <div class="card w-full h-full"
         [ngClass]="{'is-face-down': (visualState$ | async) === 'default' &&
                 (isOpenCardsPlayMode$ | async) === false}">
      <div class="card-front card-size" [style.backgroundImage]="'url(' + cardFrontImage + ')'">
        <app-card-content
          #cardContent
          [memoryCard]="memoryCard"
        ></app-card-content>
      </div>
      <div class="card-back card-size">
        <img class="object-cover w-full h-full" [src]="cardBackImage" alt="Baksidan av spelkorten" role="presentation">
      </div>
    </div>
  </div>
</button>
<app-deal-animated-card
  *ngIf="isLoaded && ((isReadyToPlay$ | async) === false)"
  [cardButton]="cardButton"
  [cardBackImage]="cardBackImage"
  [cardIndex]="cardIndex">
</app-deal-animated-card>
