<div class="page-layout page-layout_header-main-footer hidden lg:grid">
  <app-settings></app-settings>
  <div class="w-full h-full play-container flex">
    <app-score></app-score>
    <div class="w-full h-full grid place-items-center">
      <app-board [category]="category"></app-board>
    </div>
    <app-score *ngIf="isTwoPlayers$ | async" [isFirstPlayer]="false"></app-score>
  </div>
</div>

<div class="w-full h-full grid place-items-center lg:hidden">
  <app-board [category]="category"></app-board>
</div>

