@keyframes highlight {
  0% {
    transform: scale (1);
  }
  75% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.4);
  }
  85% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.4);
  }
  95% {
    transform: scale(1);
  }
}
