$primary-focus-color: #0c5674;
$secondary-focus-color: #00aef2;
$spsm-red-1: #801431;
$soft-gray-background: #f7f5f5;
$spsm-link-color: #00587d;
$spsm-blue-3: #5AA9E6;
$spsm-blue-3-hover: #A7D3F1;
$spsm-blue-3-txt-color: #003B5C;
