.selected-game-slumpgenerator{
    background-color: #57649C;
    color: white;

    &:hover{
        background-color: #4b5686;
    }
}

.selected-game-dra-till-ratt, .selected-game-para-ihop, .selected-game-snurrhjul, .selected-game-bingo, .selected-game-vilket-ord, .selected-game-dra-till-rätt {
    background-color: #57649C;
    color: white;

    &:hover{
        background-color: #4b5686;
    }
}

