<section class="flex p-4 items-center justify-center flex-grow w-full">

  <div class="flex gap-5 max-w-screen-md w-full justify-center flex-wrap">
    <ng-container *ngIf="isHomeVisible">
      <div *ngFor="let key of selectedGameKeys">
        <a 
        class="flex px-10 py-8 w-52 rounded-md text-center border border-4 border-transparent border-black  place-content-center hover:border-blue-500 hover:rotate-2"
        [routerLink]="['/', getSelectedGameDataName(key)]"
        [ngClass]="'selected-game-' + getSelectedGameDataName(key) "
        >
          <span
            class="tracking-wide font-semibold"
          >
            {{ selectedGameEnum[key] | capitalize }}
          </span>
        </a>
      </div>
    </ng-container>

    <ng-container *ngIf="dynamicContent" [ngComponentOutlet]="dynamicContent"></ng-container>

  </div>
 
</section>
