.selected-game-slumpgenerator{
    background-color: #505374;
    color: white;
}

.selected-game-dra-till-ratt, .selected-game-para-ihop, .selected-game-snurrhjul, .selected-game-bingo, .selected-game-vilket-ord, .selected-game-dra-till-rätt {
    background-color: #505374;
    color: white;
}

