<div class="m-3 max-w-5xl mx-auto min-h-full">
    <section class="relative">
        <h1 class="text-2xl font-bold mb-5 text-center tracking-wide">Slumpgenerator</h1>
        <div class="flex absolute top-0 right-0 gap-2 z-0">
            <ng-container *ngIf="numberOfRounds$ | async as numberOfRounds">
                <ng-container *ngFor="let i of getNumberArray(numberOfRounds); let idx = index">
                    <app-rounds [round]="idx < currentRound ? idx + 1 : 0"></app-rounds>
                </ng-container>
            </ng-container>
        </div>
       
    </section>
    
    <section class="flex justify-around max-h-[75vh]">

            <section class="flex gap-4 flex-col items-center justify-center max-w-[50%]">
                <ng-container *ngIf="pairingModeFirst$ | async as pairingModeFirst">
                    <ng-container  *ngIf="category$ | async as category">
                        <app-card 
                        [pairingMode]="pairingModeFirst" 
                        [content]="getContent(pairingModeFirst, category, 0)"
                        [dynamicClass]="getDynamicClass(pairingModeFirst, 0)"
                        ></app-card>
                    </ng-container>
                    
                </ng-container>
                <app-start-button [startBtnActive]="startBtnActive" (click)="startGame()"></app-start-button>
            </section>

            <section class="flex flex-col flex-nowrap gap-6 justify-center place-content-center  min-w-fit w-[50%] mt-14 md:flex-wrap md:mb-5 sm:flex-wrap sm:mb-5">
                <ng-container *ngIf="pairingModeSecond$ | async as pairingModeSecond">
                    <ng-container *ngIf="category$ | async as category">
                        <ng-container *ngIf="numberOfOptions$ | async as numberOfOptions">
                            <ng-container *ngFor="let i of getNumberArray(numberOfOptions); let idx = index">
                                <app-card
                                    [ngClass]="{'cursor-pointer' : gameStarted}"
                                    [content]="getContent(pairingModeSecond, category, idx + 1)"
                                    [pairingMode]="pairingModeSecond"
                                    (cardClick)="onCardClicked($event, idx + 1)"
                                    [dynamicClass]="getDynamicClass(pairingModeSecond, idx + 1)"
                                    >
                                    </app-card>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </section>
    </section>
    <ng-container *ngIf="gameOver">
        <app-game-over [gameOver]="gameOver"></app-game-over>
    </ng-container>
</div>