<div class="w-[90vw] h-screen flex flex-col justify-evenly">

    <section class="relative">
        <h1 class="text-2xl font-bold text-left tracking-wide md:text-center">Slumpgenerator</h1>
        <div class="flex absolute top-0 right-5 gap-2 z-0">
            <ng-container *ngIf="numberOfRounds$ | async as numberOfRounds">
                <ng-container *ngFor="let i of getNumberArray(numberOfRounds); let idx = index">
                    <app-rounds [round]="idx < slumpgeneratorService.currentRound ? idx + 1 : 0"></app-rounds>
                </ng-container>
            </ng-container>
        </div>
       
    </section>
    
    <section class="flex max-h-[75vh] gap-10 place-content-center">

            <ul class="flex gap-4 flex-col items-center justify-center max-w-[50%]">
                <ng-container *ngIf="firstCardState.length > 0">
                    <ng-container *ngFor="let card of firstCardState; let idx = index">
                        <li>
                            <app-card
                                class="w-fit"
                                [ngClass]="{'cursor-pointer' : slumpgeneratorService.gameStarted}"
                               
                                [cardData]="card"
                               
                            ></app-card>
                        </li>
                    </ng-container>
                </ng-container>
                <app-start-button 
                    [onClick]="slumpgeneratorService.startGame.bind(this)"
                    [tabindex]="!slumpgeneratorService.gameStarted ? '2' : '-1'"
                ></app-start-button>
            </ul>

            <ul class="flex flex-col flex-nowrap justify-center place-content-center w-full max-w-[500px] items-center gap-4 sm:flex-wrap ">
                <ng-container *ngIf="secondCardState.length > 0">
                    <ng-container *ngFor="let card of secondCardState; let idx = index">
                        <li>
                            <app-card
                                class="w-fit"
                                [ngClass]="{'cursor-pointer' : slumpgeneratorService.gameStarted}"
                                (cardClick)="slumpgeneratorService.onCardClicked($event, idx + 1)"
                                
                                [cardData]="card"
                            ></app-card>
                        </li>
                    </ng-container>
                </ng-container>
            </ul>

    </section>

    <ng-container *ngIf="slumpgeneratorService.gameOver">
        <app-game-over [gameOver]="slumpgeneratorService.gameOver"></app-game-over>
    </ng-container>

</div>