.correct-card {
    outline: solid green 5px;
    outline-offset: 12px;
    // outline-style: auto;
}

.incorrect-card {
    outline: solid red 5px;
    outline-offset: 12px;
    // outline-style:auto
}

