.correct-card {
    outline: solid green 4px;
    outline-offset: 2px;
    // outline-style: auto;
}

.incorrect-card {
    outline: solid red 4px;
    outline-offset: 2px;
    // outline-style:auto
}
