@import "../../../variables.scss";

h2 {
  color: $lika-lika-orange;
}

span {
  color: #fff;
}

.subject-area-estetisk-verksamhet {
  color: $arts-color;
}

.subject-area-kommunikation {
  color: $communication-color;
}

.subject-area-motorik {
  color: $motor-color;
}

.subject-area-vardagsaktiviteter {
  color: $everyday-color;
}

.subject-area-verklighetsuppfattning {
  color: $reality-color;
}
