<div class="w-fit font-bold text-2xl tracking-wide">

    <!-- WORD Mode -->
    <ng-container *ngIf="pairingMode === 'ord'">
    <p class="text-2lg font-bold">{{ data }}</p>
  </ng-container>

  <!-- ILLUSTRATION Mode -->
  <ng-container *ngIf="pairingMode === 'bild'">
    <img [src]="data" alt="Illustration" class="w-full h-full object-contain" />
  </ng-container>

   <!-- RITADE_TECKEN Mode -->
  <ng-container *ngIf="pairingMode === 'ritade tecken'">
    <img [src]="data" alt="Illustration" class="w-full h-full object-contain" />
  </ng-container>

  <!-- TAKK Mode -->
  <ng-container *ngIf="pairingMode === 'tecken som stöd'">
    <video *ngIf="pairingMode === 'tecken som stöd'" [src]="data" controls></video>
  </ng-container>

</div>
