<app-settings></app-settings>
<div class="grid grid-rows-[1fr_auto] ">
  <main class="p-5 mt-2 lg:mt-4 xl:mt-12 narrow-2xl:mt-8"
        [ngClass]="'subject-area-' + (subjectAreaDataName$ | async)">
    <div class="flex flex-col items-center gap-y-10 lg:gap-y-20 xl:gap-y-24 2xl:gap-y-28 narrow-2xl:gap-y-20">
      <app-page-title [title]="subjectAreaCapitalized$ | async"
                      [subjectAreaName]="subjectAreaDataName$ | async"
                      [instructionText]="'Välj det kort du vill spela med'"></app-page-title>

      <app-subject-area-nav class="relative bottom-10 lg:bottom-13"></app-subject-area-nav>
    </div>
  </main>
</div>
