<div 
    [attr.aria-disabled]="true"
    [ngClass]="flippedClass$ |async"
    
    class='card-container w-44 h-60 rounded-md'
>
    <div class="card-inner">
        <!-- Back of the Card -->
        <div class="card-back rounded-md">
            <div [ngClass]="this.contentMedium" class="bg-slate-600 w-full h-full rounded-md border border-1 border-black"></div>
        </div>
        
        <!-- Front of the Card -->
        <div [ngClass]="[this.contentMedium, this.correctClass]" class="relative card-front  flex justify-center items-center card w-44 h-60 border border-1 border-black rounded-lg">
            <div class="border border-1 border-black w-[93%] h-[95%] rounded-md bg-white flex items-center justify-center">
                <app-card-content
                    #cardElement
                    [content]="this.content"
                    [contentMedium]="this.contentMedium"
                    [word]="this.word"
                    class="w-full h-full border-transparent border-solid border-4 rounded-sm"
                    [ngClass]="this.mode === 'secondCard' ? 'hover:border-blue-500' : ''"
                    (click)="onCardClick()"
                    (keydown)="handleKeyDown($event)"
                    [tabindex]="this.mode === 'secondCard' ? '0' : '-1'"

                >
                </app-card-content>
                <button 
                    class="z-30 absolute bottom-0 right-0 rounded-md border-transparent border-solid border-4 p-1 m-2 hover:border-blue-500"
                    (click)="videoOrSound()"
                    [tabindex]="(gameStarted$ | async) ? '0' : '-1'"
                    >
                    <img [src]="imgSrc" alt="" >
                </button>
            </div>
        </div>
    </div>
</div>