<nav>
  <ul
    class="mx-auto flex flex-col md:flex-row md:flex-wrap md:justify-center lg:w-4/5 2xxl:w-full xl:gap-x-10 3xl:max-w-6xl 3xxl:max-w-7xl 3xl:gap-x-12">
    <li>
      <app-card-link [subjectArea]="subjectAreaEnum.KOMMUNIKATION"></app-card-link>
    </li>
    <li>
      <app-card-link [subjectArea]="subjectAreaEnum.ESTETISK_VERKSAMHET"></app-card-link>
    </li>
    <li>
      <app-card-link [subjectArea]="subjectAreaEnum.MOTORIK"></app-card-link>
    </li>
    <li>
      <app-card-link [subjectArea]="subjectAreaEnum.VARDAGSAKTIVITETER"></app-card-link>
    </li>
    <li>
      <app-card-link [subjectArea]="subjectAreaEnum.VERKLIGHETSUPPFATTNING"></app-card-link>
    </li>
  </ul>
</nav>
