
<div class="  gap-5 m-3 flex flex-col w-fit relative z-50 r-4">

      <div class="flex justify-end">
        <button 
          (click)="toggleDropdown()"
          class="flex items-center gap-3 min-w-max border-4 rounded-md border-[#153658]  hover:border-blue-500 "
 
        >
          <img 
            class="w-10"
            src="/assets/layout/icons/card-settings.svg" alt=""
          >
        </button>
      </div>  
        <div *ngIf="this.isDropdownOpen"
        class="flex flex-col justify-between"
        >
        <!-- Första kortets inställningar -->
         <section 
          class="border-4 border-[#153658] px-2 py-1 rounded-md hover:border-blue-500 flex-1 bg-white"
          [ngClass]="{'bg-orange-200' : isFirstCardSettingsDropdownOpen}"
          tabindex="2"
          >
          <button 
            (click)="toggleSettingOptionsDropdown('firstCard')"
            class="flex items-center justify-between w-full"
            [ngClass]="{'mb-3' : isFirstCardSettingsDropdownOpen}"
          >
            <img src="/assets/layout/icons/first-card-icon.svg" alt="" class="h-8">
            <div class="flex gap-2">
              <h2>Första kortet</h2>
              <img [src]="isFirstCardSettingsDropdownOpen ? 'assets/layout/icons/arrow-up.svg' : 'assets/layout/icons/arrow-down.svg'" alt="">
            </div>
          </button>
          <ul 
            class="flex flex-col"
            *ngIf="isFirstCardSettingsDropdownOpen"
            
          >
              <li 
              *ngFor="let option of firstCardOptions" 
              tabindex="0" 
              (click)="updateFirstPairingMode(option)" 
              (keydown.enter)="updateFirstPairingMode(option)" 
              [class.selected]="option === (pairingModeFirstCard$ | async)"
              class="flex gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer "
          >
          <div *ngIf="option === 'bild'" >
            <img class="w-10"  src="/assets/layout/icons/image-icon.svg" alt="">
          </div>
          <div *ngIf="option === 'ritade tecken'" >
            <img class="w-10"  src="/assets/layout/icons/ritade-tecken-icon.svg" alt="">
          </div>
          <div *ngIf="option === 'ord'" >
            <img class="w-10"  src="/assets/layout/icons/ord-icon.svg" alt="">
          </div>
          <div *ngIf="option === 'tecken som st\u00F6d'" >
            <img class="w-10"  src="/assets/layout/icons/takk-icon.svg" alt="">
          </div>
              {{ option }}
            </li>
          </ul>
         </section>
        

          <!-- Andra kortens inställningar -->
          <section 
            class="border-4 border-[#153658] px-2 py-1 rounded-md hover:border-blue-500 flex-1 bg-white"
            [ngClass]="{'bg-orange-200' : isSecondCardSettingsDropdownOpen}"
            tabindex="2"
          >
            <button 
              (click)="toggleSettingOptionsDropdown('secondCard')" 
              class="flex items-center justify-between w-full"
              [ngClass]="{'mb-3' : isSecondCardSettingsDropdownOpen}"
            >
              <img src="/assets/layout/icons/second-card-icon.svg" alt="" class="h-8">
              <div class="flex gap-2">
                <h2>Resterande kort</h2>
                <img [src]="isSecondCardSettingsDropdownOpen ? 'assets/layout/icons/arrow-up.svg' : 'assets/layout/icons/arrow-down.svg'" alt="">
              </div>
            </button>
            <ul 
              class="flex gap-1 flex-col"
              *ngIf="isSecondCardSettingsDropdownOpen"
              >
              <li 
                *ngFor="let option of secondCardOptions" 
                tabindex="0" 
                (click)="updateSecondPairingMode(option)" 
                (keydown.enter)="updateSecondPairingMode(option)"
                [class.selected]="option === (pairingModeSecondCard$ | async)" 
                class="flex gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
              >
              <div *ngIf="option === 'bild'" >
                <img class="w-10"  src="/assets/layout/icons/image-icon.svg" alt="">
              </div>
              <div *ngIf="option === 'ritade tecken'" >
                <img class="w-10"  src="/assets/layout/icons/ritade-tecken-icon.svg" alt="">
              </div>
              <div *ngIf="option === 'ord'" >
                <img class="w-10"  src="/assets/layout/icons/ord-icon.svg" alt="">
              </div>
              <div *ngIf="option === 'tecken som st\u00F6d'" >
                <img class="w-10"  src="/assets/layout/icons/takk-icon.svg" alt="">
              </div>
                {{ option }}
                <img src="" alt="">
              </li>
            </ul>
          </section>

          <!-- Ämnesområdeinställningar -->
          <section 
          class="border-4 border-[#153658] px-2 py-1 rounded-md hover:border-blue-500 flex-1 bg-white"
          [ngClass]="{'bg-orange-200' : isSubjectAreaSettingsDropdownOpen}"
          tabindex="2"
        >
          <button 
            (click)="toggleSettingOptionsDropdown('subjectArea')" 
            class="flex items-center justify-between w-full"
            [ngClass]="{'mb-3' : isSubjectAreaSettingsDropdownOpen}"
          >
            <img src="/assets/layout/icons/category-icon.png" alt="" class="h-8">
            <div class="flex gap-2">
              <h2>Ämnesområde</h2>
              <img [src]="isSubjectAreaSettingsDropdownOpen ? 'assets/layout/icons/arrow-up.svg' : 'assets/layout/icons/arrow-down.svg'" alt="">
            </div>
          </button>
          <ul 
            class="flex gap-1 flex-col"
            *ngIf="isSubjectAreaSettingsDropdownOpen"
          >

              <!-- Kategoriinställningar -->

              <!-- Estetisk verksamhet -->
              <section 
              class="gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
              [ngClass]="{'bg-orange-200' : isEstetiskVerksamhetDropdownOpen}"
              tabindex="2"
              >
                <button 
                  (click)="toggleSubjectAreaDropdown('estetisk verksamhet')" 
                  class="flex items-center justify-between w-full"
                >
                  <h2>Estetisk verksamhet</h2>
                  <img [src]="isEstetiskVerksamhetDropdownOpen ? 'assets/layout/icons/arrow-up.svg' : 'assets/layout/icons/arrow-down.svg'" alt="">
                </button>
                <ul 
                  class="flex gap-1 flex-col"
                  *ngIf="isEstetiskVerksamhetDropdownOpen"
                >
                  <li *ngFor="let option of estetiskVerksamhetOptions"
                    tabindex="0"
                    (click)="updateCategory(option, SubjectArea.ESTETISK_VERKSAMHET)"
                    (keydown.enter)="updateCategory(option, SubjectArea.ESTETISK_VERKSAMHET)"
                    [class.selected]="option === (category$ | async)"
                    class="flex gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
                  >
                    {{option}}
                  </li>
                </ul>
              </section>

              <!-- Kommunikation -->
              <section 
              class="gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
              [ngClass]="{'bg-orange-200' : isKommunikationDropdownOpen}"
              tabindex="2"
              >
                <button 
                  (click)="toggleSubjectAreaDropdown('kommunikation')" 
                  class="flex items-center justify-between w-full"
                >
                  <h2>Kommunikation</h2>
                  <img [src]="isKommunikationDropdownOpen ? 'assets/layout/icons/arrow-up.svg' : 'assets/layout/icons/arrow-down.svg'" alt="">
                </button>
                <ul 
                  class="flex gap-1 flex-col"
                  *ngIf="isKommunikationDropdownOpen"
                >
                  <li *ngFor="let option of kommunikationOptions"
                    tabindex="0"
                    (click)="updateCategory(option, SubjectArea.KOMMUNIKATION)"
                    (keydown.enter)="updateCategory(option, SubjectArea.KOMMUNIKATION)"
                    [class.selected]="option === (category$ | async)"
                    class="flex gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
                  >
                    {{option}}
                  </li>
                </ul>
              </section>

              <!-- Motorik -->
              <section 
              class="gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
              [ngClass]="{'bg-orange-200' : isMotorikDropdownOpen}"
              tabindex="2"
              >
                <button 
                  (click)="toggleSubjectAreaDropdown('motorik')" 
                  class="flex items-center justify-between w-full"
                >
                  <h2>Motorik</h2>
                  <img [src]="isMotorikDropdownOpen ? 'assets/layout/icons/arrow-up.svg' : 'assets/layout/icons/arrow-down.svg'" alt="">
                </button>
                <ul 
                  class="flex gap-1 flex-col"
                  *ngIf="isMotorikDropdownOpen"
                >
                  <li *ngFor="let option of motorikOptions"
                    tabindex="0"
                    (click)="updateCategory(option, SubjectArea.MOTORIK)"
                    (keydown.enter)="updateCategory(option, SubjectArea.MOTORIK)"
                    [class.selected]="option === (category$ | async)"
                    class="flex gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
                  >
                    {{option}}
                  </li>
                </ul>
              </section>

               <!-- Vardagsaktivitet -->
               <section 
               class="gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
               [ngClass]="{'bg-orange-200' : isVardagsaktivitetDropdownOpen}"
               tabindex="2"
               >
                 <button 
                   (click)="toggleSubjectAreaDropdown('vardagsaktivitet')" 
                   class="flex items-center justify-between w-full"
                 >
                   <h2>Vardagsaktiviteter</h2>
                   <img [src]="isVardagsaktivitetDropdownOpen ? 'assets/layout/icons/arrow-up.svg' : 'assets/layout/icons/arrow-down.svg'" alt="">
                 </button>
                 <ul 
                   class="flex gap-1 flex-col"
                   *ngIf="isVardagsaktivitetDropdownOpen"
                 >
                   <li *ngFor="let option of vardagsaktivitetOptions"
                     tabindex="0"
                     (click)="updateCategory(option, SubjectArea.VARDAGSAKTIVITETER)"
                     (keydown.enter)="updateCategory(option, SubjectArea.VARDAGSAKTIVITETER)"
                     [class.selected]="option === (category$ | async)"
                     class="flex gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
                   >
                     {{option}}
                   </li>
                 </ul>
               </section>

  
              <!-- Verklighetsuppfattning -->
               <section 
               class="gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
               [ngClass]="{'bg-orange-200' : isVerklighetsuppfattningDropdownOpen}"
               tabindex="2"
               >
                 <button 
                   (click)="toggleSubjectAreaDropdown('verklighetsuppfattning')" 
                   class="flex items-center justify-between w-full"
                 >
                   <h2>Verklighetsuppfattning</h2>
                   <img [src]="isVerklighetsuppfattningDropdownOpen ? 'assets/layout/icons/arrow-up.svg' : 'assets/layout/icons/arrow-down.svg'" alt="">
                 </button>
                 <ul 
                   class="flex gap-1 flex-col"
                   *ngIf="isVerklighetsuppfattningDropdownOpen"
                 >
                   <li *ngFor="let option of verklighetsuppfattningOptions"
                     tabindex="0"
                     (click)="updateCategory(option, SubjectArea.VERKLIGHETSUPPFATTNING)"
                     (keydown.enter)="updateCategory(option, SubjectArea.VERKLIGHETSUPPFATTNING)"
                     [class.selected]="option === (category$ | async)"
                     class="flex gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
                   >
                     {{option}}
                   </li>
                 </ul>
               </section>

          </ul>
        </section>

          <!-- Antal kort-inställningar -->
          <section 
            class="border-4 border-[#153658] px-2 py-1 rounded-md hover:border-blue-500 flex-1 bg-white"
            [ngClass]="{'bg-orange-200' : isNumberOfOptionsSettingsDropdownOpen}"
            tabindex="3"
          >
            <button 
              (click)="toggleSettingOptionsDropdown('options')" 
              class="flex items-center justify-between w-full"
              [ngClass]="{'mb-3' : isNumberOfOptionsSettingsDropdownOpen}"
            >
              <img src="/assets/layout/icons/number-of-options-icon.svg" alt="" class="h-8">
              <div class="flex gap-2">
                <h2>Antal kort</h2>
                <img [src]="isNumberOfOptionsSettingsDropdownOpen ? 'assets/layout/icons/arrow-up.svg' : 'assets/layout/icons/arrow-down.svg'" alt="">
              </div>
            </button>
            <ul 
              class="flex gap-1 flex-col"
              *ngIf="isNumberOfOptionsSettingsDropdownOpen"
            >
              <li *ngFor="let option of numberOfOptions"
                tabindex="0"
                (click)="updateNumberOfOptions(option)"
                (keydown.enter)="updateNumberOfOptions(option)"
                [class.selected]="option === (numberOfOptions$ | async)"
                class="flex gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
              >
              {{option}}
              </li>
            </ul>
          </section>

           <!-- Antal rundor-inställningar -->
          <section 
            class="border-4 border-[#153658] px-2 py-1 rounded-md hover:border-blue-500 flex-1 bg-white"
            [ngClass]="{'bg-orange-200' : isNumberOfRoundsSettingsDropdownOpen}"
            tabindex="4"
          >
            <button 
              (click)="toggleSettingOptionsDropdown('rounds')" 
              class="flex items-center justify-between w-full gap-6"
              [ngClass]="{'mb-3' : isNumberOfRoundsSettingsDropdownOpen}"
            >
              <img src="/assets/layout/icons/rounds-icon.svg" alt="" class="h-8">
              <div class="flex gap-2">
                <h2 class="">Antal omgångar</h2>
                <img [src]="isNumberOfRoundsSettingsDropdownOpen ? 'assets/layout/icons/arrow-up.svg' : 'assets/layout/icons/arrow-down.svg'" alt="">
              </div>
             
            </button>
           <ul 
             class="flex gap-1 flex-col"
             *ngIf="isNumberOfRoundsSettingsDropdownOpen"
           >
             <li *ngFor="let option of numberOfRounds"
               tabindex="0"
               (click)="updateNumberOfRounds(option)"
               (keydown.enter)="updateNumberOfRounds(option)"
               [class.selected]="option === (numberOfRounds$ | async)"
               class="flex gap-3 border-4 border-transparent rounded-md p-1 hover:border-blue-500 hover:cursor-pointer"
             >
             {{option}}
             </li>
           </ul>
         </section>
         

        </div>
</div>