
<div class=" border border-1 border-black gap-5 p-5 flex flex-col w-fit bg-blue-400 relative z-50">
      <div class="flex gap-3 ">
        <button 
          (click)="toggleDropdown()"
          class="flex items-center gap-3 min-w-max"
        >
          <img 
          class="w-10"
          src="/assets/layout/icons/card-settings.svg" alt="">
          <h1 class="">Kortinställningar</h1>
        </button>
      </div>  
        <div *ngIf="isDropdownOpen"
        class="p-3 flex flex-col justify-between items-start space-y-3 "
        >
        <!-- Första kortets inställningar -->
         <section 
          class="border border-1 border-black px-3 py-1 rounded-sm hover:bg-orange-200 flex-1 bg-white"
          [ngClass]="{'bg-orange-200' : isFirstCardSettingsDropdownOpen}"
          >
          <button 
            (click)="toggleSettingOptionsDropdown('firstCard')"
            class=""
          >
            Första kortet
          </button>
          <ul 
            class="flex gap-1 flex-col"
            *ngIf="isFirstCardSettingsDropdownOpen"
            
          >
              <li 
              *ngFor="let option of firstCardOptions" 
              tabindex="0" 
              (click)="updateFirstPairingMode(option)" 
              (keydown.enter)="updateFirstPairingMode(option)" 
              [class.selected]="option === (pairingModeFirstCard$ | async)"
              class="py-1 px-2 border-2 border-transparent hover:cursor-pointer hover:border-orange-400 bg-white"
          >
              {{ option }}
          </li>
          </ul>
         </section>
        

          <!-- Andra kortens inställningar -->
          <section 
            class="border border-1 border-black px-3 py-1 rounded-sm hover:bg-orange-200 flex-1 bg-white"
            [ngClass]="{'bg-orange-200' : isSecondCardSettingsDropdownOpen}"
          >
            <button (click)="toggleSettingOptionsDropdown('secondCard')">Resterande kort</button>
            <ul 
              class="flex gap-1 flex-col"
              *ngIf="isSecondCardSettingsDropdownOpen"
              >
              <li 
                *ngFor="let option of secondCardOptions" 
                tabindex="1" 
                (click)="updateSecondPairingMode(option)" 
                (keydown.enter)="updateSecondPairingMode(option)"
                [class.selected]="option === (pairingModeSecondCard$ | async)" 
                class="py-1 px-2 border-2 border-transparent hover:cursor-pointer hover:border-orange-400 bg-white"
              >
                {{ option }}
                <img src="" alt="">
              </li>
            </ul>
          </section>
         

          <!-- Kategoriinställningar -->
          <section 
            class="border border-1 border-black px-3 py-1 rounded-sm hover:bg-orange-200 flex-1 bg-white"
            [ngClass]="{'bg-orange-200' : isCategorySettingsDropdownOpen}"
          >
            <button (click)="toggleSettingOptionsDropdown('category')">Kategori</button>
            <ul 
              class="flex gap-1 flex-col"
              *ngIf="isCategorySettingsDropdownOpen"
            >
              <li *ngFor="let option of categoryOptions"
                tabindex="2"
                (click)="updateCategory(option)"
                (keydown.enter)="updateCategory(option)"
                [class.selected]="option === (category$ | async)"
                class="py-1 px-2 border-2 border-transparent hover:cursor-pointer hover:border-orange-400 "
              >
              {{option}}
              </li>
            </ul>
          </section>
          

          <!-- Antal kort-inställningar -->
          <section 
            class="border border-1 border-black px-3 py-1 rounded-sm hover:bg-orange-200 flex-1 bg-white"
            [ngClass]="{'bg-orange-200' : isNumberOfOptionsSettingsDropdownOpen}"
          >
            <button (click)="toggleSettingOptionsDropdown('options')">Antal kort</button>
            <ul 
              class="flex gap-1 flex-col"
              *ngIf="isNumberOfOptionsSettingsDropdownOpen"
            >
              <li *ngFor="let option of numberOfOptions"
                tabindex="3"
                (click)="updateNumberOfOptions(option)"
                (keydown.enter)="updateNumberOfOptions(option)"
                [class.selected]="option === (numberOfOptions$ | async)"
                class=" py-1 px-2 border-2 border-transparent hover:cursor-pointer hover:border-orange-400 "
              >
              {{option}}
              </li>
            </ul>
          </section>

           <!-- Antal rundor-inställningar -->
           <section 
           class="border border-1 border-black px-3 py-1 rounded-sm hover:bg-orange-200 flex-1 bg-white"
           [ngClass]="{'bg-orange-200' : isNumberOfRoundsSettingsDropdownOpen}"
         >
           <button (click)="toggleSettingOptionsDropdown('rounds')">Antal omgångar</button>
           <ul 
             class="flex gap-1 flex-col"
             *ngIf="isNumberOfRoundsSettingsDropdownOpen"
           >
             <li *ngFor="let option of numberOfRounds"
               tabindex="4"
               (click)="updateNumberOfRounds(option)"
               (keydown.enter)="updateNumberOfRounds(option)"
               [class.selected]="option === (numberOfRounds$ | async)"
               class="py-1 px-2 border-2 border-transparent hover:cursor-pointer hover:border-orange-400 "
             >
             {{option}}
             </li>
           </ul>
         </section>
         

        </div>
</div>

<!-- <img class="w-32" src="/assets/subject-area/estetisk-verksamhet/bildbegrepp/illustration/lim.svg" -->
