
<div class=" border border-1 border-black gap-5 p-5">
  <h1 class="mb-5">Inställningar</h1>
      <div class="flex gap-3 ">
        <button 
          (click)="toggleDropdown('first')"
          class="flex items-center gap-3"
        >
          <img 
          class="w-10"
          src="/assets/layout/icons/card-settings.svg" alt="">
          <h1>Kortval</h1>
        </button>
      </div>
        <div *ngIf="isFirstDropdownOpen"
        class="p-3 flex justify-between"
        >
        <!-- Första kortets inställningar -->
          <ul class="flex gap-3 flex-col ">
            <h1 class="font-bold">Första kortet:</h1>
              <li 
              *ngFor="let option of firstCardOptions" 
              tabindex="0" 
              (click)="updateFirstPairingMode(option)" 
              (keydown.enter)="updateFirstPairingMode(option)" 
              [class.selected]="option === (pairingModeFirstCard$ | async)"
              class="h-10 py-1 px-2 border-2 border-transparent hover:cursor-pointer hover:border-orange-400 "
          >
              {{ option }}
          </li>
          </ul>

          <!-- Andra kortens inställningar -->
          <ul class="flex gap-3 flex-col">
            <h1 class="font-bold">Resterande kort:</h1>
            <li 
              *ngFor="let option of secondCardOptions" 
              tabindex="1" 
              (click)="updateSecondPairingMode(option)" 
              (keydown.enter)="updateSecondPairingMode(option)"
              [class.selected]="option === (pairingModeSecondCard$ | async)" 
              class="h-10 py-1 px-2 border-2 border-transparent hover:cursor-pointer hover:border-orange-400 "
            >
              {{ option }}
              <img src="" alt="">
            </li>
          </ul>

          <!-- Kategoriinställningar -->
          <ul class="flex gap-3 flex-col">
            <h1 class="font-bold">Välj kategori:</h1>
            <li *ngFor="let option of categoryOptions"
              tabindex="2"
              (click)="updateCategory(option)"
              (keydown.enter)="updateCategory(option)"
              [class.selected]="option === (category$ | async)"
              class="h-10 py-1 px-2 border-2 border-transparent hover:cursor-pointer hover:border-orange-400 "
            >
            {{option}}
            </li>
          </ul>

          <ul class="flex gap-3 flex-col">
            <h1 class="font-bold">Välj antal kortval:</h1>
            <li *ngFor="let option of numberOfOptions"
              tabindex="3"
              (click)="updateNumberOfOptions(option)"
              (keydown.enter)="updateNumberOfOptions(option)"
              [class.selected]="option === (numberOfOptions$ | async)"
              class="h-10 py-1 px-2 border-2 border-transparent hover:cursor-pointer hover:border-orange-400 "
            >
            {{option}}
            </li>
          </ul>


        </div>
</div>

<!-- <img class="w-32" src="/assets/subject-area/estetisk-verksamhet/bildbegrepp/illustration/lim.svg" -->
