.cards {
  grid-auto-rows: fit-content(100%);
}

.card-word {
  @apply font-semibold text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
}

.long-word {
  color: red;
  @apply text-lg md:text-xl lg:text-3xl xl:text-4xl xl2:text-5xl;
}

.cards-2 {
  grid-template-columns: repeat(2, 1fr);
  @apply 2xl:gap-20;

  .card-btn {
    @apply lg:w-64 xl:w-80 2xl:w-96;
    outline-width: 3px;
  }


}

.cards-4 {
  grid-template-columns: repeat(2, fit-content(100%));
  @apply 2xl:gap-32;

  .card-btn {
    @apply lg:w-72 xl:w-80 2xl:w-96;
  }
}


.cards-6 {
  grid-template-columns: repeat(3, fit-content(100%));
  @apply xl:gap-14 2xl:gap-24;

  .card-btn {
    @apply lg:w-56 xl:w-80 2xl:w-72;
  }

  .card-word {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
  }

  .long-word {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl;
  }
}

.cards-8 {
  grid-template-columns: repeat(4, fit-content(100%));

  @apply 2xl:gap-16 3xl:gap-20 4xl:gap-24;

  .card-btn {
    @apply 2xl:w-64 xl2:w-72 3xl:w-80 4xl:w-96;
  }


}

.cards-8, .cards-10, .cards-12 {

  .card-word {
    @apply text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl;
  }

  .long-word {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl;
  }
}

.cards-10,
.cards-12 {
  grid-template-columns: repeat(4, fit-content(100%));

  @apply xl:gap-8 2xl:gap-12 3xl:gap-16 4xl:gap-20;

  .card-btn {
    @apply xl:w-60 2xl:w-72 4xl:w-80;
  }
}

.cards-14, .cards-16 {
  @apply gap-5 lg:gap-8 xl:gap-10 2xl:gap-12;

  .card-btn {
    @apply lg:w-48 xl:w-56 2xl:w-64
  }

  .card-word {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl;
  }

  .long-word {
    @apply text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl 3xl:text-3xl;
  }
}

.cards-14,
.cards-16 {
  grid-template-columns: repeat(4, fit-content(100%));
  grid-auto-rows: 1fr;
}

@media (orientation: landscape) {
  .cards-10 > :nth-child(9) {
    grid-column: 2;
  }

  .cards-10 > :nth-child(10) {
    grid-column: 3;
  }

  .cards-14 > :nth-child(13) {
    grid-column: 2;
  }

  .cards-14 > :nth-child(14) {
    grid-column: 3;
  }
}


@media (orientation: portrait) {
  .cards-2 {
    grid-template-columns: repeat(1, 1fr);
    @apply lg:grid-cols-2;
  }


  .cards-6, .cards-8 {
    grid-template-columns: repeat(2, 1fr);

  }

  .cards-10, .cards-12, .cards-14, .cards-16 {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards-10 > :nth-child(10) {
    grid-column: 2;
  }

  .cards-16 > :nth-child(16) {
    grid-column: 2;
  }

}

@media (max-height: 1024px) and (min-width: 1024px) {
  .cards-4 {
    @apply 2xl:gap-16;
    .card-btn {
      @apply lg:w-64 xl:w-72 2xl:w-80;
    }

    .card-word {
      @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
    }

    .long-word {
      @apply text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl;
    }
  }

  .cards-6 {
    @apply 2xl:gap-10;

    .card-btn {
      @apply xl:w-64 2xl:w-72;
    }
  }

  .cards-8 {
    @apply 2xl:gap-12;
    .card-btn {
      @apply xl:w-72 2xl:w-80;
    }
  }

  .cards-10, .cards-12 {
    @apply lg:gap-5 xl:gap-6;

    .card-btn {
      @apply xl:w-56;
    }

    .card-word {
      @apply text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
    }

    .long-word {
      @apply text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl;
    }
  }

  .cards-14, .cards-16 {
    @apply lg:gap-3 xl:gap-2;

    .card-btn {
      @apply lg:w-40 xl:w-44;
    }

    .card-word {
      @apply text-lg md:text-xl lg:text-2xl 2xl:text-2xl;
    }

    .long-word {
      @apply text-base md:text-lg lg:text-xl;
    }
  }
}
