$primary-bg-color: #153658;
$secondary-bg-color: #153658;
$arts-color: #00b9f2;
$communication-color: #fc87bf;
$motor-color: #ED9654;
$everyday-color: #a1c55e;
$reality-color: #00af92;
$player1-color: #f80;
$player1-color-back: #d17308;
$player2-color: #d83cf0;
$player2-color-back: #a02f8c;
$lika-lika-orange: #f1851c;
